# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static_collected/

# Virtual Environment
.env/
venv/
env/

# IDE-specific files (e.g., PyCharm)
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Other common files to ignore
.coverage
.tox/
.eggs/

# Node.js dependencies
node_modules/