<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}School Management System{% endblock title %}
    </title>

    <link rel="icon" type="image/x-icon" href="{% static 'src/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body>
    <section class="max-w-7xl mx-auto">
    <!-- Alert Message -->
    {% include "components/alert_message.html" %}

    <!-- Navigation Bar -->
    {% include 'components/navbar.html' %}

    <!-- Main Content Area -->
    <main class="relative min-h-screen mx-auto bg-gray-50 px-4">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
    {% include 'components/footer.html' %}
        
    <!-- Additional JavaScript -->
    {% block extra_js %}{% endblock %}

    </section>
</body>
</html>