<nav class="bg-blue-600 text-white p-4 flex justify-between items-center">
    <h1>
        School Management System
    </h1>
<div class="space-x-4">
    <a href="{% url "core:index" %}">Home</a>
    <a href="">Students</a>
    <a href="">Teachers</a>
    <a href="">Courses</a>
</div>

<div class="space-x-4">

    {% if user.is_authenticated %}
    <span>Welcome, {{ user.username }}!</span>
    <a href="{% url "core:logout" %}">Logout</a>
    {% else %}
    <a href="{% url "core:login" %}">Login</a>
    <a href="{% url "core:register" %}">Register</a>
    {% endif %}
</div>

</nav>